* {
    margin: 0;
    padding: 0;
    text-align: left;
}
body {
    color: #000;
    margin: 20px;
    background-color: #fff;
}
.header {
    margin-bottom: 1.6rem;
}

.form-group {
    line-height: 1.6;
}

.form-group .input {
    margin-left: 1.1rem;
}

.btn {
    margin-left: 9.2rem;
    padding: 0.2rem;
}

.btn button {
    padding: .5px 5px .5px 5px;
    cursor: pointer;
}

.result {
    margin-top: .8rem;

}

.result .result-group {
    margin-top: .3rem;
    display: flex;
}

.result .result-group .total-s {
    font-size: 1rem;
    margin-left: 5.2rem;
}

.result .result-group .total-d {
    font-size: 1rem;
    margin-left: 3.5rem;
}

.result .result-group .total-p {
    font-size: 1rem;
    margin-left: 4.6rem;
}

.result .result-group .total-q {
    font-size: 1rem;
    margin-left: 4.2rem;
}